@model IEnumerable<ShoppingCartItem>
@{
	ViewData["Title"] = "Shopping Cart Summery";
}

<div class="row">
	<div class="col-md-8 offset-2">
		<div class="text-center">
			<h2>Shopping Cart Summery</h2>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Amount</th>
					<th>Product</th>
					<th>Price</th>
					<th>Subtotal</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach(var item in Model)
				{
					<tr>
						<td>@item.Amount</td>
						<td>@item.Product.Name</td>
						<td>@item.Product.Price.ToString("c")</td>
						<td>@((item.Product.Price*item.Amount).ToString("C"))</td>
						<td>
							<a class="text-danger" asp-controller="Orders"
							   asp-action="RemoveFromCart" asp-route-id="@item.Product.Id">
								<i class="fas fa-regular fa-minus"></i>
							</a>
							<a class="text-success" asp-controller="Orders"
							   asp-action="AddToCart" asp-route-id="@item.Product.Id">
								<i class="fas fa-regular fa-plus"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
			<tfoot >
				<tr>
					<td class="collapse-2"></td>
					<td><b>Total Price:</b> </td>
					<td>@(ViewBag.Total.ToString("C"))</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		<div class="d-flex justify-content-center gap-2">
			<a class="btn btn-outline-info" asp-action="Index" asp-controller="Products">
				<i class="fas fa-shopping-cart me-1"></i>
				Continue Shopping
			</a>

			<a class="btn btn-outline-success" asp-action="CompleteOrder" asp-controller="Orders">
				<i class="fas fa-check me-1"></i>
				Complete Order
			</a>
		</div>

		</div>
	</div>
</div>